<h3>Request Tracker</h3>
{% for ticket in tickets %}
    <div class="form-group row">
        <label class="col-md-3 col-form-label">
            {{ ticket.queue }} Ticket
        </label>
        <div class="col-md-9">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <a href="{{ form.instance.url }}">#{{ form.instance.rt_id }}</a>
                    </span>
                </div>
                <input type="text" value="{{ ticket.subject }}" disabled>
                <div class="input-group-append">
                    <span class="input-group-text {{ form.instance.status_class }}">
                        {{ form.instance.status_text }}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
